body{
	background-color: #DCDCDC;
}

nav{
	background-color: #03fcf8;
	font-variant: small-caps;
	font-size: 130%;
	font-family: Arial,"Times New Roman";

}

header{
	display: block;
	text-align: center;
	margin-top: 3%;
	margin-bottom: 0%;
}

#a,#b,#c,#d{
	padding: 20px 20px 20px 20px;
}

section{
	text-align: justify ;
	display: inline-block;
	text-transform: capitalize;
	margin: 2% 30%;
 	font-size: 150%;
}

#home{
	margin: 2% 2%;
	text-transform: none;
}

img{
	width: 100%;

	margin: 5% 5% 5% 5%;
}

#tq{
	font-size: 180%;
	margin: 1% 25%;
}
